.img-upload-container label{
  cursor: pointer;
  color:rgb(46, 5, 5);
}
.img-upload-container label>svg{
  margin: 0 auto;
  display: block;
}
.inputGroup {
position: relative;
display: flex;
margin-bottom: 1em;
}

input.input-fill{
font-size: 1rem;
height: calc(1.5em + .75rem + 4px);
padding: 2em 0.75em 0.8em 0.7em !important;
}
textarea.input-fill{
font-size: 1rem;

padding: 2em 0.75em 0.8em 0.7em !important;
}
.label {  
position: absolute;
height:  calc(1.5em + 1.6em);
left: 0.7em;
display: flex;
align-items: center;
}

.label.filing {
  -webkit-transform: translateY(-0.5em) ;
  transform: translateY(-0.5em);
  left: 0.88em;
  font-size: 0.9em;
}


.label-container{
	position:fixed;
	bottom:48px;
	right:105px;
	display:table;
	visibility: hidden;
}

.label-text{
	color:#FFF;
	background:rgba(51,51,51,0.5);
	display:table-cell;
	vertical-align:middle;
	padding:10px;
	border-radius:3px;
}

.label-arrow{
	display:table-cell;
	vertical-align:middle;
	color:#333;
	opacity:0.5;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#06C;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}
.float:hover{
  background-color:#fff;
}

.my-float{
	font-size:24px;
	margin-top:18px;
}

a.float + div.label-container {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;
  font-size: 1rem;
}

a.float:hover + div.label-container{
  visibility: visible;
  opacity: 1;
}


/* comment love */
ul.comment li{
	position: relative;
	min-height: 4em;
}
ul.comment li div{
	position: absolute;
	right: 0;
	top:0;
}